{% extends 'shop/basic.html' %}
{% block title %}Products{% endblock %}
{% block body %}

<div class="container my-4">
    <div style="margin-bottom: 11rem;" class="row">
        <div class="col-md-4" style="text-align: center;">
            <img height="200px" width="180px" src="/media/{{prods.0.prod_image}}" alt="">
            <div class="row my-3" style="display: flex; justify-content: center;">
                <div class="div">
                    <button id="bpr{{prodid}}" class="btn buynow cartbtn btn-primary mx-1">Buy Now</button>
                </div>
                <div id="divpr{{prodid}}" class="div">
                    <button id="apr{{prodid}}" class="btn btn-primary cartbtn mx-1">Add to cart</button>
                </div>
            </div>
        </div>
        <div class="col-md-8">
            <h2 id="name">{{prods.0.prod_name}}</h2>
            <b>MRP: <span id="price">{{prods.0.prod_price}}</span></b>/-
            <p>{{prods.0.prod_desc}}</p>
        </div>
    </div>
    {% for len,range,prods in list %}
    <h2 mb-2 ml-3>Users also baought</h2>
    <div id="carouselExampleIndicators{{forloop.counter}}" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators" style="bottom: -25px;">
            {% for i in range %}
            <li style="background-color: blue;" data-target="#carouselExampleIndicators{{forloop.counter}}" data-slide-to="{{i}}"></li>
            {% endfor %}
        </ol>
        <div class="carousel-inner">
            <div class="carousel-item active mb-2">
                <div class="row">
                    {% for i in prods %}
                    <div class="col-md-3">
                        <div class="card" style="width: 18rem; height: 23rem; align-items: center;">
                            <img style="height: 200px; width: 200px;" src="/media/{{i.prod_image}}" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 id="namepr{{i.id}}" class="card-title my-0">{{i.prod_name}}</h5>
                                <b id="pricepr{{i.id}}">RS. {{i.prod_price}}</b>
                                <p class="card-text">{{i.prod_desc}}</p>
                                <span id="div1pr{{i.id}}" class="divpr">
                                <button id="cpr{{i.id}}" class="btn btn-primary cartbtn1">Add to cart</button>
                                </span>
                                <a href="/shop/products/{{i.id}}" id="qv{{i.id}}" class="btn btn-primary qvbtn">Quick View</a>
                            </div>
                        </div>
                    </div>
                    {% if forloop.counter|divisibleby:4 and not forloop.last %}
                </div>
            </div>
                <div class="carousel-item mb-2">
                    <div class="row">
                    {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
        <a class="carousel-control-prev" style="left: -120px;" href="#carouselExampleIndicators{{forloop.counter}}" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" style="background-color: blue;" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" style="right: -140px;" href="#carouselExampleIndicators{{forloop.counter}}" role="button" data-slide="next">
            <span class="carousel-control-next-icon" style="background-color: blue;" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
    {% endfor %}
</div>

{% endblock %}
{% block js %}
let cart=localStorage.getItem('cart')
if(cart==null)
{
    cartobj={}
}
else
{
    cartobj=JSON.parse(cart)
    updatecart(cartobj)
    updatecart1(cartobj)
}
let n=0;
for(i in cartobj)
{
    n+=Number(cartobj[i][0]);
}
document.getElementById('cart').innerHTML=n;

$('.div').on('click','button.cartbtn',(e)=>{
    ids=e.target.id.slice(1,).toString();
    if(cartobj[ids]!=undefined)
    {
        cartobj[ids][0]=cartobj[ids][0]+1;
    }
    else
    {
        qty=1;
        name=document.getElementById(`name`).innerHTML;
        price=document.getElementById(`price`).innerHTML;
        cartobj[ids]=[qty,name,price];
    }
    updatecart(cartobj);
    n++;
    localStorage.setItem('cart',JSON.stringify(cartobj));
    document.getElementById('cart').innerHTML=n;
})
function updatecart(cartobj)
{
    for(item in cartobj)
    {
      
        if(document.getElementById(`div${item}`)!=null)
        {
            document.getElementById(`div${item}`).innerHTML=`<button id="minus${item}" class="btn btn-primary minus">-</button> <span id="val${item}">${cartobj[item][0]}</span> <button id="plus${item}" class="btn btn-primary plus">+</button>`;
        }
    }
    localStorage.setItem('cart',JSON.stringify(cartobj))
    updatepop(cartobj);
}
function updatepop(cartobj)
{
    let popstr='';
    popstr+=`<h5>Cart for your items in Hiten's Shop<h5>`;
    let i=1;
    for(item in cartobj)
    {
        popstr+=`<b>${i}. </b>`;
        popstr+=cartobj[item][1]+` Qty: ${cartobj[item][0]}` + `<br>`;
        i++;
    }
    p=0;
    for(i in cartobj)
    {
        p+=Number(cartobj[i][2])*Number(cartobj[i][0]);
    }
    popstr+=`<div class=my-1>Sub-Total: ${p}</div>`;
    popstr+=`<a href="/shop/checkout" class="btn my-2 btn-primary cartbtn">Check Out</a> <a id="cle" class="btn my-2 btn-primary cartbtn">Clear cart</a>`;
    document.getElementById('popcart').setAttribute('data-content',popstr);
    $('#popcart').popover('show');
    document.getElementById('cle').addEventListener('click',clear);
}
updatepop(cartobj);
function clear()
{
    let cart=localStorage.getItem('cart')
    cartobj=JSON.parse(cart)
    for(item in cartobj)
    {
        if(document.getElementById(`div${item}`)!=null)
        {
            document.getElementById(`div${item}`).innerHTML=`<button id="a${item}" class="btn btn-primary cartbtn">Add to cart</button>`;
        }
        if(document.getElementById(`div1${item}`)!=null)
        {
            document.getElementById(`div1${item}`).innerHTML=`<button id="c${item}" class="btn btn-primary cartbtn1">Add to cart</button>`;
        }
    }
    localStorage.clear();
    cartobj={}
    n=0;
    document.getElementById('cart').innerHTML=n;
    updatecart(cartobj);
    updatecart1(cartobj);
}
$('.div').on('click','button.minus',(e)=>{
    ids=e.target.id.slice(5,);
    if(cartobj[ids][0]>0)
    {
        n--;
        cartobj[ids][0]-=1;
        document.getElementById(`val${item}`).innerHTML=cartobj[ids][0];
        updatecart(cartobj);
        document.getElementById('cart').innerHTML=n;
    }
    if(cartobj[ids][0]==0)
    {
        delete cartobj[ids];
        document.getElementById(`div${ids}`).innerHTML=`<button id="a${item}" class="btn btn-primary cartbtn">Add to cart</button>`;
        updatecart(cartobj);
    }
})
$('.div').on('click','button.plus',(e)=>{
    n++;
    ids=e.target.id.slice(4,);
    cartobj[ids][0]+=1;
    document.getElementById(`val${item}`).innerHTML=cartobj[ids][0];
    updatecart(cartobj);
    document.getElementById('cart').innerHTML=n;
})
let buynow=document.querySelectorAll('.buynow')
for(b of buynow)
{
    b.addEventListener('click',()=>{
        window.location='/shop/checkout';
    })
}
$('.divpr').on('click','button.cartbtn1',(e)=>{
    ids=e.target.id.slice(1,).toString();
    if(cartobj[ids]!=undefined)
    {
        cartobj[ids][0]=cartobj[ids][0]+1;
    }
    else
    {
        qty=1;
        name=document.getElementById(`name${ids}`).innerHTML;
        price=document.getElementById(`price${ids}`).innerHTML.slice(3,);
        cartobj[ids]=[qty,name,price];
    }
    updatecart1(cartobj);
    n++;
    localStorage.setItem('cart',JSON.stringify(cartobj));
    document.getElementById('cart').innerHTML=n;
})
function updatecart1(cartobj)
{
    for(item in cartobj)
    {
      
        if(document.getElementById(`div1${item}`)!=null)
        {
            document.getElementById(`div1${item}`).innerHTML=`<button id="minus${item}" class="btn btn-primary minus1">-</button> <span id="val${item}">${cartobj[item][0]}</span> <button id="plus${item}" class="btn btn-primary plus1">+</button>`;
        }
    }
    localStorage.setItem('cart',JSON.stringify(cartobj))
    updatepop(cartobj);
}
$('.divpr').on('click','button.minus1',(e)=>{
    ids=e.target.id.slice(5,);
    if(cartobj[ids][0]>0)
    {
        n--;
        cartobj[ids][0]-=1;
        document.getElementById(`val${item}`).innerHTML=cartobj[ids][0];
        updatecart1(cartobj);
        document.getElementById('cart').innerHTML=n;
    }
    if(cartobj[ids][0]==0)
    {
        delete cartobj[ids];
        document.getElementById(`div1${ids}`).innerHTML=`<button id="c${item}" class="btn btn-primary cartbtn1">Add to cart</button>`;
        updatecart1(cartobj);
    }
})
$('.divpr').on('click','button.plus1',(e)=>{
    n++;
    ids=e.target.id.slice(4,);
    cartobj[ids][0]+=1;
    document.getElementById(`val${item}`).innerHTML=cartobj[ids][0];
    updatecart1(cartobj);
    document.getElementById('cart').innerHTML=n;
})
{% endblock %}